In [2]:
import pandas as pd
import geopandas as gpd
from geopandas import GeoDataFrame
import skmob

## Reading the DataFrame

### Data original

In [1]:
path = './DataGPS/Januari2022.csv'
df = pd.read_csv(path)
df = df.drop({'Unnamed: 0'},axis=1)
df.head()

NameError: name 'pd' is not defined

### Data reverse geocoding

In [3]:
path2 = '../DataTelkomsel/2021November/RGnovember2021.csv'
df2 = pd.read_csv(path2)
df2 = df2.drop({'Unnamed: 0'},axis=1)
df2.head()

,Unnamed: 0.1,maid,latitude,longitude,datetime_wib,geometry,Kelurahan/Desa,Kecamatan,Kabupaten
0,0,ae6a98af-4c1b-43ab-9785-9ccca119c5fe,-7.820000,110.330002,2021-11-01 00:00:00,POINT (110.3300018310547 -7.82),Tamantirto,Kasihan,Bantul
1,1,59e29447-ec6d-4a86-b6ef-c424df12effa,-7.828277,110.320953,2021-11-01 00:00:16,POINT (110.3209533691406 -7.828277),Tamantirto,Kasihan,Bantul
2,2,59e29447-ec6d-4a86-b6ef-c424df12effa,-7.828277,110.320953,2021-11-01 00:00:16,POINT (110.3209533691406 -7.828277),Tamantirto,Kasihan,Bantul
3,3,59e29447-ec6d-4a86-b6ef-c424df12effa,-7.828277,110.320953,2021-11-01 00:00:18,POINT (110.3209533691406 -7.828277),Tamantirto,Kasihan,Bantul
4,4,59e29447-ec6d-4a86-b6ef-c424df12effa,-7.828277,110.320953,2021-11-01 00:00:18,POINT (110.3209533691406 -7.828277),Tamantirto,Kasihan,Bantul

In [4]:
# df2.iloc[df2['maid'] == '8f60c037-8ff2-4ccd-bd6d-05630f92550b', [0,1,2,3]]
# df.iloc[df['maid'] == '8f60c037-8ff2-4ccd-bd6d-05630f92550b']

## Mulai Preprocess

## 1. Filter Unnecessary Area
Membatasi area data point pada range yg dilakukan analisis

In [3]:
def filter_area(gps, road, filename):
    gps_path = gps
    road_path = road
    
    tdf = skmob.TrajDataFrame.from_file(gps_path)
    area_shape = gpd.read_file(road_path)
    
    gdf_gps = GeoDataFrame(tdf, geometry=gpd.points_from_xy(tdf['longitude'], tdf['latitude']))
    filtered_data = gdf_gps[gdf_gps.geometry.within(area_shape.geometry.iloc[0])].copy()
    
    filtered_data['datetime_wib'] = pd.to_datetime(filtered_data['datetime_wib'])
    filtered_data['tanggal'] = filtered_data['datetime_wib'].dt.date
    
    filtered_data.to_csv(filename + '.csv', index=False)    

    filtered_data.info()
#     print(filtered_data.head())
    print("Filtering area for ", filename, "succeed")

In [17]:
gps = '../DataTelkomsel/2022Mei/RGmei2022.csv'
road = './JaringanJalan/Affandi/clipping_boundary.geojson'
filename ='./DataGPS_Affandi/filter1_affandi_mei'
filter_area(gps, road, filename)

<class 'geopandas.geodataframe.GeoDataFrame'>
Index: 38746 entries, 3739968 to 12774923
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      38746 non-null  int64
 1   maid            38746 non-null  object
 2   latitude        38746 non-null  float64
 3   longitude       38746 non-null  float64
 4   datetime_wib    38746 non-null  datetime64[ns]
 5   geometry        38746 non-null  geometry
 6   Kelurahan/Desa  38746 non-null  object
 7   Kecamatan       38746 non-null  object
 8   Kabupaten       38746 non-null  object
 9   tanggal         38746 non-null  object
dtypes: datetime64[ns](1), float64(2), geometry(1), int64(1), object(5)
memory usage: 3.3+ MB
Filtering area for  ./DataGPS_Affandi/filter1_affandi_mei succeed

In [10]:
data = pd.read_csv(f'{filename}.csv')
data

,Unnamed: 0,maid,latitude,longitude,datetime_wib,geometry,Kelurahan/Desa,Kecamatan,Kabupaten,tanggal
0,502934,63c24f60-2316-44c7-a5dd-c15e90ca44ad,-7.76271,110.393360,2021-12-01 00:01:15,POINT (110.39336 -7.76271),Caturtunggal,Depok,Sleman,2021-12-01
1,502935,63c24f60-2316-44c7-a5dd-c15e90ca44ad,-7.76271,110.393356,2021-12-01 00:01:15,POINT (110.3933563232422 -7.76271),Caturtunggal,Depok,Sleman,2021-12-01
2,502936,63c24f60-2316-44c7-a5dd-c15e90ca44ad,-7.76271,110.393356,2021-12-01 00:01:15,POINT (110.3933563232422 -7.76271),Caturtunggal,Depok,Sleman,2021-12-01
3,503180,63c24f60-2316-44c7-a5dd-c15e90ca44ad,-7.76271,110.393356,2021-12-01 00:03:59,POINT (110.3933563232422 -7.76271),Caturtunggal,Depok,Sleman,2021-12-01
4,503182,63c24f60-2316-44c7-a5dd-c15e90ca44ad,-7.76271,110.393356,2021-12-01 00:03:59,POINT (110.3933563232422 -7.76271),Caturtunggal,Depok,Sleman,2021-12-01
...,...,...,...,...,...,...,...,...,...,...
15294,6458785,cdda13b9-3222-46c6-91bb-cce3e8822abf,-7.75869,110.394699,2021-12-31 23:28:32,POINT (110.39469909667967 -7.75869),Condongcatur,Depok,Sleman,2021-12-31
15295,6458787,cdda13b9-3222-46c6-91bb-cce3e8822abf,-7.75869,110.394700,2021-12-31 23:28:41,POINT (110.3947 -7.75869),Condongcatur,Depok,Sleman,2021-12-31
15296,6458788,cdda13b9-3222-46c6-91bb-cce3e8822abf,-7.75869,110.394699,2021-12-31 23:28:41,POINT (110.39469909667967 -7.75869),Condongcatur,Depok,Sleman,2021-12-31
15297,6458790,cdda13b9-3222-46c6-91bb-cce3e8822abf,-7.75869,110.394699,2021-12-31 23:28:41,POINT (110.39469909667967 -7.75869),Condongcatur,Depok,Sleman,2021-12-31
15298,6458791,cdda13b9-3222-46c6-91bb-cce3e8822abf,-7.75869,110.394699,2021-12-31 23:28:41,POINT (110.39469909667967 -7.75869),Condongcatur,Depok,Sleman,2021-12-31

In [8]:
data.nunique()

Unnamed: 0.1      597265
Unnamed: 0        597265
maid               13106
latitude            9314
longitude            837
datetime_wib      103084
geometry           58483
Kelurahan/Desa         5
Kecamatan              4
Kabupaten              1
tanggal               30
dtype: int64